</main>
<footer>
    <div class="footer-container">
        <div class="footer-logo">
            Kochen mit Raphael und Jaime
        </div>
        <div class="footer-highlight">
            <p>Guten Appetit und fröhliches Kochen!</p>
        </div>
        <div class="footer-info">
            <p>Email: <a href="mailto:info@rezepte.com">info@rezepte.com</a></p>
        </div>
    </div>
</footer>


</body>
</html>