<!DOCTYPE html>
<html>
<head>
    <title>{{ title }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/main.css" />
</head>
<body>
<header>

    <div class="header-container">
        <a class="logo" href="/index.html">
            Kochen mit Raphael und Jaime
        </a>
        <div class="buttons">
            <a href="/login" class="btn btn-login">Anmelden</a>
            <a href="/register" class="btn btn-register">Registrieren</a>
        </div>
    </div>
</header>
<main role="main" class="container">