<head>
    <title>{{ title }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/main.css" />
</head>

{{> header}}

<h1 class="Titel">Register</h1>
<form action="/register" enctype="multipart/form-data" method="post">
    <label for="email">Username:</label>
    <input type="text" id="email" name="email">

    <label for="password">Password:</label>
    <input type="password" id="password" name="passwort">

    <label for="profile_picture">Profile Picture:</label>
    <input type="text" id="profile_picture" name="profile_picture">

    <label for="first_name">Firstname:</label>
    <input type="text" id="first_name" name="first_name">

    <label for="last_name">Lastname:</label>
    <input type="text" id="last_name" name="last_name">

    <label for="info">Info:</label>
    <input type="text" id="info" name="info">

    <input type="submit" value="Register">
</form>


